@page "/authentication/callback"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@layout AnonymousLayout

<div data-testid="auth-callback">
    <p data-testid="auth-callback-processing">Processing authentication...</p>
</div>
